/.metadata/

# Ignore persistencyTest JSON files
larryCroftsAdventures/ChapText.json
larryCroftsAdventures/GameSaveLoadTest.json
larryCroftsAdventures/GameStateTest.json
larryCroftsAdventures/inventoryTest.json
larryCroftsAdventures/saves/IntegrationEx.json
larryCroftsAdventures/saves/AppSaveTest.json
larryCroftsAdventures/saves/controlTest.json
larryCroftsAdventures/saves/controllerTestOld.json
larryCroftsAdventures/larryCroftsAdventures.plantuml
larryCroftsAdventures/keyTest.json
larryCroftsAdventures/Fail.json
larryCroftsAdventures/IntegrationEx.json
larryCroftsAdventures/controlTest.json
larryCroftsAdventures/saveObj.json

